<div width="100%">
    <span><button mat-fab color="primary" style="float: right;"><mat-icon>add</mat-icon></button></span>
</div>

<p>
<H1>Welcome!</H1>
This is where you get to choose your character / characters which you will consider when optimizing your WoW playtime.

<div *ngFor="let character of characters">
    <ng-container>
        <mat-card class="character-card">
            <mat-card-header>
            <div *ngIf="character.faction===469" mat-card-avatar class="alliance-header-image"></div>
            <div *ngIf="character.faction===67" mat-card-avatar class="horde-header-image"></div>
            <mat-card-title><button mat-icon-button >{{ character.name }} - {{ character.realm }}
                <span *ngIf="character.active"><fa-icon [icon]="faCheckCircle" [styles]="{'color': 'green'}"></fa-icon></span></button>
            </mat-card-title>
            <mat-card-subtitle>Level {{ character.level }} {{character.race}} {{ character.characterClass }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                Last Updated: {{ formattedDate(character) }}
            </mat-card-content>
            <mat-card-actions align="end">
                <span><button mat-raised-button color="primary" (click)="toggleActive(character)">Include In Tables</button></span>
                <span class="fill-space"></span>
                <span><button mat-icon-button color="basic"><fa-icon [icon]="faBan" [styles]="{'color': 'red'}"></fa-icon></button></span>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>

